@import '../../css/imports.less';

@c: .Tag;

@{c} {
  position: relative;
  font-family: @ff-sans;

  &-content {
    display: flex;
    align-items: center;
    height: calc(100% - 4px);
    padding: 4px 12px 4px 12px;
    white-space: nowrap;
    color: @c-base;
    background: @c-background;
    border: 1px solid @c-base;
    transition: all @td-fast @ease-custom;
    box-shadow: 2px 2px 0 0 @c-base;
    border-radius: 3px;
  }

  &:hover {
    @{c}-content {
      color: @c-accent;
      border-color: @c-accent;
      cursor: pointer;
      box-shadow: 2px 2px 0 0 @c-accent;
    }
  }

  &-notification {
    position: absolute;
    top: -3px;
    right: -3px;
  }

  &--medium {
    @{c}-content {
      font-size: @fs-micro;
      border: 1.5px solid @c-base;
      box-shadow: 2px 2px 0 0 @c-base;

      &:hover {
        border: 1.5px solid @c-accent;
      }
    }
  }

  &--dark {
    @{c}-content {
      color: @c-background;
      background: @c-base;
      box-shadow: 2px 2px 0 0 @c-background, 4px 4px 0 0 @c-base;

      &:hover {
        color: @c-background;
        background: @c-accent;
        box-shadow: 2px 2px 0 0 @c-background, 4px 4px 0 0 @c-accent;
      }
    }
  }

  &--simple {
    @{c}-content {
      padding: 1px 7px;
      font-size: @fs-nano;
      color: @c-base;
      border: 1.5px solid @c-base;
      box-shadow: none;
      border-radius: 4px;

      &:hover {
        color: @c-accent;
        border: 1.5px solid @c-accent;
        box-shadow: none;
      }
    }
  }
}
