@import '../../css/imports.less';

@c: .Tag;

@{c} {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0 15px;
  font-family: @ff-sans;
  font-size: @fs-micro;
  font-weight: @fw-bold;
  text-transform: capitalize;
  white-space: nowrap;
  color: @gradientColors[blue-1];
  border: 2px solid @gradientColors[blue-1];
  transition: color @td-fast @ease, border @td-fast @ease;
  border-radius: 15.5px;

  &:hover {
    color: @gradientColors[blue-2];
    border-color: @gradientColors[blue-2];
    cursor: pointer;
  }
}
