@import '../../css/imports.less';

@c: .Tag;

@{c} {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0 7px;
  font-family: @ff-sans;
  font-size: @fs-micro;
  font-weight: @fw-medium;
  text-transform: capitalize;
  white-space: nowrap;
  color: @gradientColors[black-2];
  border: 1px solid @gradientColors[black-2];
  transition: color @td-fast @ease, border @td-fast @ease;
  border-radius: 4px;

  &:hover {
    color: @gradientColors[black-1];
    border-color: @gradientColors[black-1];
    cursor: pointer;
  }
}
