@import '../../css/imports.less';

@c: .TagsSkeleton;

@{c} {
  display: flex;
  flex-wrap: wrap;

  &-item {
    height: 20px;
    width: 50px;
    margin-bottom: 6px;
    margin-right: 6px;
  }

  &-item1 {
    width: 50px;
  }

  &-item2 {
    width: 60px;
  }

  &-item3 {
    width: 70px;
  }

  &-item4 {
    width: 57px;
  }

  &-item5 {
    width: 67px;
  }

  &-item6 {
    width: 62px;
  }

  &-item7 {
    width: 53px;
  }

  &-item8 {
    width: 68px;
  }
}
