@import '../../../css/imports.less';

@c: .EditorQuote;

@{c} {
  position: relative;
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 15px;
  line-height: @fh-normal;
  color: @c-accent;

  &:before {
    content: '“';
    position: absolute;
    top: 8px;
    left: 0;
    font-size: @fs-huge;
    color: @c-accent;
  }
}
