@import '../../../css/imports.less';

@c: .EditorQuote;

@{c} {
  position: relative;
  margin: 10px 5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: @fh-normal;
  color: @c-accent;

  &:before {
    content: '“';
    position: absolute;
    top: 5px;
    left: 0;
    font-size: @fs-bigger;
    color: @c-accent;
  }
}
