@import '../../../css/imports.less';

@c: .EditorUl;

@{c} {
  // Set margin only for ul elements that are not children of another ul
  :not(&@{c}) > ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  list-style-type: disc;
  list-style-position: inside;
  margin-top: 5px;

  ul:not(.noClass) {
    list-style-type: circle;
    margin-left: 15px;
  }

  ul:not(.noClass) ul:not(.noClass) {
    list-style-type: square;
  }
}
