@import '../../../css/imports.less';

@c: .EditorMark;

@{c} {
  padding: 0 5px;
  font-family: @ff-code;
  font-size: @fs-small;
  color: @c-base;
  background: @c-accentLight-hard;
  border-radius: 3px;
}
