@import '../../../css/imports.less';

@c: .EditorMark;

@{c} {
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  font-family: @ff-code;
  font-size: @fs-small;
  color: @c-base;
  background: @c-accentLight-hard;
  vertical-align: bottom;
  border-radius: 3px;
}
