@import '../../../css/imports.less';

@c: .EditorImage;

@{c} {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background: @c-traslucid--light;

  &--selected {
    box-shadow: 0 0 0 3px @c-success;
  }

  &-image {
    height: 100%;
    width: 100%;
    color: @c-transparent;
    box-shadow: 0 0 10px 5px @c-traslucid--light;
  }

  &-error {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: @c-base;
    background: @c-background-traslucidHard;
    user-select: none;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
  }
}
