@import '../../../css/imports.less';

@c: .EditorCaption;

@{c} {
  display: block;
  margin-bottom: 20px;
  font-family: @ff-sans;
  font-size: @fs-small;
  font-weight: @fw-bold;
  line-height: @fh-small;
  text-align: center;

  mark {
    font-size: @fs-small;
  }
}
