@import '../../../css/imports.less';

@c: .EditorCode;

@{c} {
  margin: 20px 0 10px;
  padding: 30px;
  font-family: @ff-code;
  font-size: @fs-small;
  line-height: @fh-normal;
  white-space: pre-wrap;
  color: @c-background;
  background: @c-base;
  border-radius: 4px;
  overflow-x: scroll;

  code {
    white-space: pre-wrap;
  }
}
