@import '../../../css/imports.less';

@c: .EditorA;

@{c} {
  font-weight: @fw-medium;
  text-decoration: underline;
  color: @c-blue--pastel;
  transition: text-decoration-color @td-fast @ease;
  cursor: pointer;
  text-decoration-color: @c-transparent;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-color: @c-blue--light;
  }
}
