@import '../../../css/imports.less';

@c: .EditorUl;

@{c} {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 20px;
  margin-bottom: 20px;

  ul:not(.noClass) {
    list-style-type: circle;
    margin-left: 15px;
  }

  ul:not(.noClass) ul:not(.noClass) {
    list-style-type: square;
  }

  // Remove margin for nested uls
  & > ul:not(.noClass) {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
