@import '../../../css/imports.less';

@c: .EditorQuote;

@{c} {
  position: relative;
  margin: 10px 0;
  padding: 30px 30px;
  line-height: @fh-normal;
  color: @c-accent;
  border-radius: 8px;
  background: @c-traslucid--lightest;

  &:before {
    content: '“';
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: @fs-huge;
    color: @c-accent;
  }
}
