@import '../../../css/imports.less';

@c: .EditorCaption;

@{c} {
  font-family: @ff-sans;
  font-size: @fs-small;
  font-weight: @fw-bold;
  line-height: @fh-small;

  mark {
    font-size: @fs-small;
  }
}
