@import '../../css/imports.less';

@c: .Pagination;

@{c} {
  display: inline-flex;

  .default();

  &-border {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-item {
    margin: 0 10px;
  }

  &-grow {
    width: 100%;
  }
}
