@import '../../css/imports.less';

@c: .Pagination;

@{c} {
  display: flex;
  justify-content: center;
  text-align: center;

  &-dots,
  &-link {
    margin-left: 5px;
  }

  &-link--active {
    color: tomato;
  }
}
