@import '../../css/imports.less';

@c: .Notification;

@{c} {
  position: relative;
  border-radius: 5px;
  min-width: 300px;
  padding: 10px 20px;

  &-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: fill @td-fast @ease;

    &:hover {
      fill: @c-accent;
      cursor: pointer;
    }
  }

  &--error {
    background: @gradientColors[red-4];
  }

  &--alert {
    background: @gradientColors[yellow-3];
  }

  &--success {
    background: @gradientColors[green-4];
  }
}
