@import '../../css/imports.less';

@c: .Notification;

@{c} {
  .default();

  border-radius: 50%;
  background: @c-transparent;
  transition: background @td-fast @ease;

  &-small {
    height: 4px;
    width: 4px;
  }

  &-normal {
    height: 8px;
    width: 8px;
  }

  &-big {
    height: 12px;
    width: 12px;
  }

  &--error {
    background: @c-error;
  }

  &--alert {
    background: @c-alert;
  }

  &--success {
    background: @c-success;
  }
}
