@import '../../css/imports.less';

@c: .Loader;

@{c} {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  border: 2px solid @c-base;

  .default();

  &-loaded {
    position: absolute;
    height: 8px;
    width: 0%;
    top: 0;
    left: 0;
    background: @c-base;
    transition: width @td-slow linear;
  }

  &--grow {
    width: 100%;
  }

  &--error {
    border: 2px solid @c-error;

    @{c}-loaded {
      background: @c-error;
    }
  }
}
