@import '../../css/imports.less';

@c: .Input;

@{c} {
  .default();

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  text-align: left;

  &-label {
    display: flex;
    position: absolute;
    align-items: center;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 8px;
    padding-left: 10px;
    white-space: nowrap;
    color: @c-disabled;
    overflow: hidden;
    transform-origin: left top;
    transition: transform @td-fast @ease, color @td-fast @ease, opacity @td-slow @ease;

    &:hover {
      cursor: pointer;
    }
  }

  &-input {
    height: 40px;
    width: 100%;
    right: 8px;
    padding: 0 6px;
    font-size: @fs-normal;
    font-weight: @fw-bold;
    border: 2px solid @c-base;
    outline: none;
    transition: border-color @td-fast @ease;
    box-shadow: none;

    &:hover {
      //
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        transform: translate(-5px, -25px) scale(0.8);
      }
    }

    @{c}--success & {
      border: 2px solid @c-success;
    }

    @{c}--error & {
      border: 2px solid @c-error;
    }

    &:disabled {
      border: 2px solid @c-disabled;
    }
  }
}
