@import '../../css/imports.less';

@c: .Input;

@{c} {
  .default();

  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
  text-align: left;

  &-label {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    bottom: 10px;
    left: 0;
    padding: 0 10px;
    white-space: nowrap;
    color: @c-disabled;
    overflow: hidden;
    background: @c-transparent;
    transform-origin: left top;
    transition: all @td-fast @ease;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  &-input {
    .default();

    height: 40px;
    right: 8px;
    padding: 0 10px;
    font-size: @fs-normal;
    font-weight: @fw-bold;
    background: @c-background;
    border: 2px solid @c-base;
    outline: none;
    transition: border-color @td-fast @ease;
    box-shadow: none;

    &[type='date']::-webkit-inner-spin-button,
    &[type='date']::-webkit-calendar-picker-indicator,
    &[type='date']::-webkit-input-placeholder {
      display: none;
      visibility: hidden !important;
      -webkit-appearance: none;
    }

    &:hover {
      //
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        padding: 0 7px 0 6px;
        background: @c-background;
        transform: translate(5px, -18px) scale(0.8);
      }
    }

    &:read-only {
      user-select: none;
    }

    @{c}--success & {
      border: 2px solid @c-success;
    }

    @{c}--error & {
      border: 2px solid @c-error;
    }

    &:disabled {
      border: 2px solid @c-disabled;
    }
  }

  &--grow {
    width: 100%;
  }
}
