@import '../../css/imports.less';

@c: .SvgIcon;

@{c} {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;

  &--nano {
    width: 8px;
  }

  &--micro {
    width: 10px;
  }

  &--small {
    width: 12px;
  }

  &--normal {
    width: 16px;
  }

  &--medium {
    width: 20px;
  }

  &--big {
    width: 28px;
  }

  &--biggest {
    width: 34px;
  }

  &--huge {
    width: 36px;
  }
}
