@import '../../css/imports.less';

@c: .H3;

@{c} {
  .default();

  font-size: @fs-big;
  font-weight: @fw-semibold;
  line-height: @fh-big;

  &-grow {
    width: 100%;
  }

  &-center {
    text-align: center;
  }
}
