@import '../../css/imports.less';

@c: .Vote;

@{c} {
  display: flex;

  &-icon {
    height: 16px;
    width: 16px;

    path[data-id='background'] {
      transition: fill @td-fastest @ease, opacity @td-fastest @ease;
    }
  }

  &-minus {
    transform: rotate(180deg) translateX(-4px);
  }

  &:hover {
    cursor: pointer;

    path[data-id='background'] {
      opacity: 0;
    }
  }

  &--active {
    path[data-id='background'] {
      opacity: 2;
    }
  }

  @{c}-icon:not(@{c}--active):hover {
    path[data-id='background'] {
      opacity: 1;
    }
  }
}
