@import '../../css/imports.less';

@c: .Vote;

@{c} {
  display: flex;
  position: relative;
  opacity: 1;

  &-icon {
    height: 16px;
    width: 16px;

    path[data-id='background'] {
      transition: fill @td-fastest @ease, opacity @td-fastest @ease;
    }
  }

  &-minus {
    transform: rotate(180deg) translateX(-4px);
  }

  &--active {
    path[data-id='background'] {
      opacity: 2;
    }
  }

  &--loading {
    animation: fadein @td-normal ease-in alternate infinite;
    pointer-events: none;
  }

  @keyframes fadein {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}
