@import '../../css/imports.less';

@c: .Button;

@{c} {
  display: inline-block;
  height: 50px;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 4px);
    min-width: 200px;
    margin: 0 4px 4px 0;
    padding: 1px 30px 0;
    font-size: @fs-normal;
    font-weight: @fw-semibold;
    text-transform: uppercase;
    background: @c-background;
    border: 2px solid;
    border-color: @c-base;
    transition: box-shadow @td-fast @ease-custom, border @td-fast @ease-custom, color @td-fast @ease-custom;
    box-shadow: 4px 4px 0 -2px @c-background, 4px 4px 0 0 @c-base;

    svg {
      height: 20px;
      margin-right: 5px;
      padding-bottom: 1px;
      transition: fill @td-fast @ease-custom;
    }

    &:hover {
      color: @c-accent;
      border-color: @c-accent;
      cursor: pointer;
      box-shadow: 4px 4px 0 -2px @c-background, 4px 4px 0 0 @c-accent;

      svg {
        fill: @c-accent;
      }
    }
  }

  &--success {
    @{c}-content {
      color: @c-background;
      background: @c-base;

      svg {
        fill: @c-background;
      }
    }
  }

  &--error {
    @{c}-content {
      color: @c-error;
      border-color: @c-error;
      box-shadow: 4px 4px 0 -2px @c-background, 4px 4px 0 0 @c-error;

      svg {
        fill: @c-error;
      }
    }
  }

  &--disabled {
    @{c}-content {
      color: @c-disabled;
      border-color: @c-disabled;
      box-shadow: 4px 4px 0 -2px @c-background, 4px 4px 0 0 @c-disabled;

      svg {
        fill: @c-disabled;
      }
    }
  }
}
