@import '../../css/imports.less';

@c: .Button;

@{c} {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 3px 3px 0;
  font-family: @ff-sans;
  color: @c-background;
  background: @gradientColors[blue-1];
  transition: color @td-fast @ease, background @td-fast @ease;
  border-radius: 4px;
  box-shadow: 5px 5px 20px 0 @gradientColors[black-4];

  &:hover:not(@{c}--success):not(@{c}--error):not(@{c}--disabled):not(@{c}--loading) {
    background: @gradientColors[blue-2];
    cursor: pointer;

    @{c}-arrow {
      transform: translateX(1px);
    }
  }

  &-text {
    letter-spacing: 1px;
    text-transform: uppercase;
    user-select: none;
  }

  &--grow {
    width: 100%;
  }

  &--disabled {
    color: @gradientColors[black-5];
    background: @gradientColors[black-4];
    pointer-events: none;
  }

  &--success {
    background: @gradientColors[blue-3];
  }

  &--error {
    background: @gradientColors[red-3];
  }

  &-loader {
    display: flex;
    align-items: center;
    max-width: 0;
    margin-left: 0;
    overflow: hidden;
    background: @gradientColors[blue-1];

    &:after {
      border-color: @gradientColors[blue-1];
    }

    div {
      background: @gradientColors[blue-1];
    }

    span {
      background: @gradientColors[yellow-6];

      &:before {
        background: @gradientColors[blue-1];
      }
    }
  }

  &--loading {
    @{c}-loader {
      max-width: 16px;
      margin-left: 8px;
    }
  }

  @{c}-arrow {
    max-width: 14px;
    margin-left: 8px;
    fill: @gradientColors[black-6];
    transition: transform @td-fast @ease;
  }

  &--small {
    height: 30px;
    min-width: 120px;
    padding: 0 30px;

    @{c}-text {
      font-size: @fs-small;
      font-weight: @fw-semibold;
    }
  }

  &--normal {
    min-width: 200px;
    padding: 10px 20px;

    @{c}-text {
      font-size: @fs-normal;
      font-weight: @fw-semibold;
    }
  }
}
