@import '../../css/imports.less';

@c: .Text;

@{c} {
  position: relative;

  &-normal {
    font-size: @fs-normal;
  }

  &-small {
    font-size: @fs-small;
  }

  &-micro {
    font-size: @fs-micro;
  }

  &-nano {
    font-size: @fs-nano;
  }

  &-bold {
    font-weight: @fw-semibold;
  }

  &-disabled {
    color: @c-disabled;
  }
}
