@import '../../css/imports.less';

@c: .ErrorBoundary;

@{c} {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
  padding: 30px;
  font-weight: @fw-bold;
  color: @c-error;
  border: 2px solid @c-error;
  border-radius: 4px;
}
