@import '../../css/imports.less';

@c: .ImageField;

@{c} {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // padding-top: 100%;
  box-sizing: border-box;
  user-select: none;

  &:hover {
    cursor: pointer;

    @{c}-background ,
    @{c}-icon ,
    @{c}-upload,
    @{c}-overlay {
      opacity: 1;
    }
  }

  &-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &-overlay {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: @c-traslucid--hard;
    transition: opacity @td-fast @ease;
  }

  &-progress {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    background: @c-traslucid--hard;
    transition: opacity @td-fast @ease;
    pointer-events: none;
  }

  &-icon {
    fill: @c-background;
    z-index: @z-index-1;

    .hoverTransition();
  }

  &-remove {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &--loading {
    opacity: 1;
  }

  &-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: none;
  }

  &--hasImage {
    padding-top: 0;
    outline: none;

    @{c}-upload,
    @{c}-remove {
      opacity: 0;
    }
  }

  &--noImage {
    @{c}-background,
    @{c}-icon,
    @{c}-upload,
    @{c}-overlay {
      opacity: 1;
    }
  }

  &--grow {
    width: 100%;
  }

  &--error {
    outline: 2px dashed @c-error;

    @{c}-icon {
      fill: @c-error;
    }
  }

  &--disabled {
    pointer-events: none;
    outline-color: @c-disabled;

    &:hover {
      cursor: default;
    }

    @{c}-icon {
      fill: @c-disabled;
    }

    @{c}-background {
      opacity: 1;
    }
  }

  &--success {
    outline: 2px dashed @c-success;

    @{c}-icon {
      fill: @c-success;
    }
  }

  &--rounded {
    border-radius: 50%;

    @{c}-image {
      border-radius: 50%;
    }

    @{c}-background {
      border-radius: 50%;
    }
  }
}
