@import '../../css/imports.less';

@c: .Hr;

@{c} {
  margin: 0;
  border: none;
  border-bottom: 4px solid @c-base;

  &--transparent {
    border-color: @c-transparent;
  }

  &--shrink {
    border: none;
  }
}
