@import '../../css/imports.less';

@c: .Hr;

@{c} {
  .default();

  height: 4px;
  height: 20px;
  width: 100%;
  margin: 0;
  background: @c-base;
  border: none;

  &-spacer {
    width: 100%;
    background: @c-transparent;
  }

  &-block {
    height: 0;
  }

  &-nano {
    height: 2px;
  }

  &-micro {
    height: 5px;
  }

  &-small {
    height: 10px;
  }

  &-big {
    height: 40px;
  }

  &-shrink {
    border: none;
  }
}
