@import '../../css/imports.less';

@c: .Hr;

@{c} {
  .default();

  height: 4px;
  margin: 0;
  background: @c-base;
  border: none;

  &-spacer {
    background: @c-transparent;

    &@{c}-block {
      height: 0;
    }

    &@{c}-micro {
      height: 5px;
    }

    &@{c}-small {
      height: 10px;
    }

    &@{c}-normal {
      height: 20px;
    }

    &@{c}-big {
      height: 40px;
    }
  }

  &-shrink {
    border: none;
  }
}
