@import '../../css/imports.less';

@c: .TextArea;

@{c} {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  font-family: @ff-sans;

  &-label {
    display: flex;
    height: 20px;
    font-size: @fs-normalSmall;
    font-weight: @fw-medium;
    white-space: nowrap;
    color: @gradientColors[black-4];
    overflow: hidden;
    background: @c-transparent;
    pointer-events: none;
    user-select: none;
  }

  &-textArea {
    padding: 15px;
    font-family: @ff-sans;
    font-size: @fs-normalSmall;
    font-weight: @fw-medium;
    line-height: @fh-normal;
    color: @gradientColors[black-2];
    overflow: auto;
    background: @c-background;
    border: none;
    outline: 1px solid @gradientColors[black-4];
    transition: color @td-fast @ease, outline @td-fast @ease;
    resize: none;
    border-radius: 4px;

    &:focus,
    &:not(:placeholder-shown) {
      outline: 1px solid @gradientColors[black-3];
    }

    @{c}--success & {
      outline: 1px solid @gradientColors[blue-2];
      box-shadow: 0 0 0 0 @c-shadow;
    }

    @{c}--error & {
      outline: 1px solid @c-errorAccent;
      box-shadow: 0 0 0 0 @c-shadow;
    }

    @{c}--disabled &,
    @{c}--readOnly & {
      color: @c-accentLight;
      outline: 1px solid @gradientColors[black-4];
      pointer-events: none;
      user-select: none;
    }
  }

  &--grow {
    width: 100%;
  }
}
