@import '../../css/imports.less';

@c: .TextArea;

@{c} {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  font-family: @ff-sans;

  &-label {
    display: flex;
    height: 20px;
    font-size: @fs-small;
    font-weight: @fw-bold;
    white-space: nowrap;
    color: @gradientColors[black-3];
    overflow: hidden;
    background: @c-transparent;
    pointer-events: none;
    user-select: none;
  }

  &-textArea {
    padding: 20px;
    font-family: @ff-sans;
    font-size: @fs-normal;
    font-weight: @fw-semibold;
    line-height: @fh-normal;
    color: @gradientColors[black-2];
    overflow: auto;
    background: @gradientColors[black-5];
    border: none;
    outline: 2px solid transparent;
    transition: color @td-fast @ease, box-shadow @td-fast @ease;
    resize: none;
    box-shadow: 0 0 0 0 @c-shadow;
    border-radius: 8px;

    &:focus,
    &:not(:placeholder-shown) {
      box-shadow: 4px 4px 0 0 @c-shadow;
    }

    @{c}--success & {
      outline: 2px solid @gradientColors[blue-2];
      box-shadow: 0 0 0 0 @c-shadow;
    }

    @{c}--error & {
      outline: 2px solid @c-errorAccent;
      box-shadow: 0 0 0 0 @c-shadow;
    }

    @{c}--disabled &,
    @{c}--readOnly & {
      color: @c-accentLight;
      box-shadow: 0 0 0 0 @c-shadow;
      pointer-events: none;
      user-select: none;
    }
  }

  &--grow {
    width: 100%;
  }
}
