@import '../../css/imports.less';

@c: .Ul;

@{c} {
  .default();

  list-style: disc;
  list-style-type: disc;
  margin: 20px 10px;

  li {
    list-style: disc;
    list-style-position: inside;
    margin-top: 5px;
    padding-left: 1.4em;
    text-indent: -1.4em;
  }
}
