@import '../../css/imports.less';

@c: .SpinnerSquaredBrute;

@{c} {
  .default();

  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  &:before {
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @c-traslucid;
  }

  &-square2 {
    position: relative;
    height: 100px;
    width: 100px;
    outline: 4px solid @c-background;
    outline-offset: -4px;
  }

  @duration: 2s;
  @delay: 0.25s;

  &-bar {
    content: ' ';
    position: absolute;
    opacity: 0;
    background: @c-base;
    animation: animation @duration infinite step-end;
  }

  &-barTop {
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    animation-delay: @delay;
  }

  &-barRight {
    height: 100%;
    width: 4px;
    top: 0;
    right: 0;
    animation-delay: (@delay * 2);
  }

  &-barBottom {
    height: 4px;
    width: 100%;
    bottom: 0;
    right: 0;
    animation-delay: (@delay * 3);
  }

  &-barLeft {
    height: 100%;
    width: 4px;
    bottom: 0;
    left: 0;
    animation-delay: (@delay * 4);
  }

  @keyframes animation {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}
