@import '../../css/imports.less';

@c: .H1;

@{c} {
  .default();

  font-size: @fs-huge;
  font-weight: @fw-extraBold;
  line-height: @fh-huge;

  &-grow {
    width: 100%;
  }

  &-center {
    text-align: center;
  }
}
