@import '../../css/imports.less';

@c: .A;

@{c} {
  text-decoration: underline;
  text-decoration-color: @c-transparent;
  text-decoration-thickness: 2px;
  color: @c-base;
  transition: text-decoration-color @td-fastest @ease-custom;

  &--underlined {
    text-decoration-color: @c-transparent;
  }

  &:hover {
    color: @c-accent;
    cursor: pointer;

    &@{c}--underlined {
      text-decoration-color: @c-base;
      color: @c-base;
    }
  }

  &:active {
    text-decoration-color: @c-accent;
    color: @c-accent;
    cursor: pointer;
  }

  &--active {
    text-decoration-color: @c-base;
  }

  &--default {
    text-decoration: inherit;
    color: inherit;
    transition: inherit;
    cursor: inherit;
  }

  &--disabled {
    color: @c-disabled;
    pointer-events: none;

    &@{c}--underlined {
      text-decoration-color: @c-disabled;
    }
  }

  &--noEvents {
    pointer-events: none;
  }
}
