@import '../../css/imports.less';

@c: .A;

@{c} {
  .default();

  text-decoration: underline;
  color: inherit;
  transition: text-decoration-color @td-fastest @ease-custom;
  text-decoration-color: @c-transparent;

  &:hover {
    cursor: pointer;
    text-decoration-color: @c-base;
  }

  &:active {
    color: @c-accent;
    cursor: pointer;
    text-decoration-color: @c-base;
  }

  &-disabled {
    color: @c-disabled;
    pointer-events: none;
  }
}
