@import '../../css/imports.less';

@c: .FileField;

@{c} {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  user-select: none;

  &-label {
    //
  }

  &-content {
    position: relative;
  }

  &-progress {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 0;
    background: @c-traslucid--hard;
    transition: opacity @td-fast @ease;
    pointer-events: none;
  }

  &-dropzone {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    border: 2px dashed;
    border-color: @c-base;
    transition: border-color @td-fast @ease, color @td-fast @ease;
    cursor: pointer;
  }

  &-textIcon {
    margin-right: 10px;
  }

  &-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  &-name {
    display: block;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    transition: color @td-fast @ease;

    .Input-inputWrapper {
      height: 100%;
    }

    input {
      height: 100%;
      padding-left: 5px;
      background: @c-transparent !important;
      box-shadow: none !important;
      border: none !important;
      border-radius: none !important;
    }

    @{c}--removable & {
      right: 30px;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px 0 0;
  }

  &-remove,
  &-open {
    height: 20px;
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  &-remove {
    height: 15px;
    width: 15px;
  }

  &--loading {
    opacity: 1;
  }

  &--grow,
  &--inline {
    width: 100%;
  }

  &--inline {
    //
  }

  &--reverse {
    //
  }

  &--success {
    @{c}-dropzone {
      color: @c-success;
      border-color: @c-success;
    }

    @{c}-textIcon {
      fill: @c-success;
    }

    @{c}-file {
      border-bottom: 2px solid @c-success;
    }

    @{c}-name input {
      color: @c-success;
    }

    @{c}-remove,
    @{c}-open {
      fill: @c-success;
    }
  }

  &--error {
    @{c}-dropzone {
      color: @c-error;
      border-color: @c-error;
    }

    @{c}-textIcon {
      fill: @c-error;
    }

    @{c}-file {
      border-bottom: 2px solid @c-error;
    }

    @{c}-name input {
      color: @c-error;
    }

    @{c}-remove,
    @{c}-open {
      fill: @c-error;
    }
  }

  &--disabled {
    pointer-events: none;

    @{c}-dropzone {
      color: @c-disabled;
      border-color: @c-disabled;
    }

    @{c}-textIcon {
      fill: @c-disabled;
    }

    @{c}-file {
      border-bottom: 2px solid @c-disabled;
    }

    @{c}-name input {
      color: @c-disabled;
    }

    @{c}-open {
      fill: @c-disabled;
    }
  }

  &--uploaded {
    @{c}-progress {
      transition: width @td-normal;
    }
  }

  &--type {
    //
  }
}
