@import '../../css/imports.less';

@c: .Svg;

@{c} {
  .default();

  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;

  &--nano {
    height: 8px;
    width: 8px;
  }

  &--micro {
    height: 10px;
    width: 10px;
  }

  &--small {
    height: 12px;
    width: 12px;
  }

  &--normal {
    height: 16px;
    width: 16px;
  }

  &--medium {
    height: 20px;
    width: 20px;
  }

  &--big {
    height: 28px;
    width: 28px;
  }

  &--biggest {
    height: 34px;
    width: 34px;
  }

  &--huge {
    height: 36px;
    width: 36px;
  }

  &--hover {
    &:hover {
      cursor: pointer;
    }
  }
}
