@import '../../css/imports.less';

@c: .Switch;

@{c} {
  .default();

  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;

  &-input {
    height: 0;
    width: 0;
    opacity: 0;

    &:checked {
      & + @{c}-slider {
        background: @c-base;
      }

      & + @{c}-slider:before {
        transform: translate(22px, 2px);
      }

      & ~ @{c}-icons @{c}-true {
        opacity: 1;
      }

      & ~ @{c}-icons @{c}-false {
        opacity: 0;
      }
    }
  }

  &-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: @c-disabled;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      background-color: @c-background;
      transform: translate(2px, 2px);
      transition: transform @td-fast @ease;
      border-radius: 1px;
    }
  }

  &-icons {
    display: flex;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    pointer-events: none;
  }

  &-icon {
    width: 50%;
    fill: @c-background;
    transition: fill @td-fast @ease;
  }

  &-true {
    padding: 1px 2px 1px 1px;
    opacity: 0;
  }

  &-false {
    padding: 1px 2px 1px 3px;
    opacity: 1;
  }
}
