@import '../../css/imports.less';

@c: .Span;

@{c} {
  .default();

  &-normal {
    font-size: @fs-normal;
    line-height: @fh-normal;
  }

  &-small {
    font-size: @fs-small;
    line-height: @fh-small;
  }

  &-micro {
    font-size: @fs-micro;
    line-height: @fh-micro;
  }

  &-nano {
    font-size: @fs-nano;
    line-height: @fh-nano;
  }

  &--bold {
    font-weight: @fw-semibold;
  }

  &--italics {
    font-style: italic;
  }

  &--disabled {
    color: @c-disabled;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--grow {
    width: 100%;
  }

  &--center {
    text-align: center;
  }
}
