@import '../../css/imports.less';

@c: .Frame;

@{c} {
  display: inline-block;
  background: @c-background;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: @c-base;
  transition: box-shadow @td-fast @ease-custom, border @td-fast @ease-custom, color @td-fast @ease-custom;
  box-shadow: none;

  &-padding--none {
    padding: 0;
  }

  &-padding--small {
    padding: 10px;
  }

  &-padding--normal {
    padding: 20px;
  }

  &-padding--big {
    padding: 40px;
  }

  &--grow {
    width: 100%;
  }

  &--none {
    border: 0;
    box-shadow: none;
  }

  &--thin {
    &@{c}--borderTop {
      border-top: 2px solid @c-base;
    }

    &@{c}--borderRight {
      border-right: 2px solid @c-base;
    }

    &@{c}--borderBottom {
      border-bottom: 2px solid @c-base;
    }

    &@{c}--borderLeft {
      border-left: 2px solid @c-base;
    }

    &@{c}--shadow {
      box-shadow: 4px 4px 0 0 @c-base;
    }
    // border-radius: 4px;
  }

  &--thick {
    &@{c}--borderTop {
      border-top: 3px solid @c-base;
    }

    &@{c}--borderRight {
      border-right: 3px solid @c-base;
    }

    &@{c}--borderBottom {
      border-bottom: 3px solid @c-base;
    }

    &@{c}--borderLeft {
      border-left: 3px solid @c-base;
    }

    &@{c}--shadow {
      box-shadow: 6px 6px 0 0 @c-base;
    }
    // border-radius: 4px;
  }
}
