@import '../../css/imports.less';

@c: .Select;

@{c} {
  display: inline-flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 50px;
  .default();

  &__container:not(.noClass) {
    height: 40px;
    width: 100%;
    min-width: 150px;
  }

  &__control:not(.noClass) {
    min-height: 40px;
    border: 2px solid @c-base;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      border: 2px solid @c-base;
      border-radius: 0;
    }
  }

  &__label:not(.noClass) {
    display: flex;
    position: absolute;
    align-items: center;
    height: @fs-normal;
    top: 13px;
    left: 12px;
    color: @c-disabled;
    background: @c-background;
    transition: all @td-fast @ease;
    pointer-events: none;
  }

  &__control--is-focused:not(.noClass) ~ @{c}__label,
  @{c}__label--active {
    padding: 0 7px 0 6px;
    background: @c-background;
    transform: translate(-18px, -21px) scale(0.8);
  }

  &__indicator-separator:not(.noClass) {
    margin: 0;
    background: @c-transparent;
  }

  &__indicator:not(.noClass) {
    &:hover {
      cursor: pointer;
    }
  }

  &__value-container:not(.noClass) {
    flex-wrap: nowrap;
    height: 36px;
    margin: 0;
    padding: 2px 5px;
    padding: 1px 0 0 7px;
    overflow-x: scroll;
    cursor: text;

    .hideScrollbar();
  }

  &__multi-value:not(.noClass) {
    flex-wrap: nowrap;
    min-width: unset;
    margin: 0 4px 0 0;
    font-weight: @fw-bold;
    background: transparent;
    border: 2px solid @c-base;
    transition: background @td-fast @ease;
    border-radius: 0;

    .default();

    &:hover {
      background: @c-base;
      cursor: default;

      @{c}__multi-value__remove:not(.noClass) {
        fill: @c-background;
      }

      @{c}__multi-value__label:not(.noClass) {
        color: @c-background;
      }
    }
  }

  &__multi-value__label:not(.noClass) {
    white-space: unset;
    transition: color @td-fast @ease;
    text-overflow: unset;
  }

  &__multi-value__remove:not(.noClass) {
    padding-right: 6px;
    transition: fill @td-fast @ease;
    border-radius: 0;

    &:hover {
      background-color: @c-transparent;
      cursor: pointer;
    }
  }

  &__menu:not(.noClass) {
    margin: 0;
    padding: 0;
    font-weight: @fw-bold;

    .default();
  }

  &__menu-list:not(.noClass) {
    margin: 0;
    padding: 0;

    .hideScrollbar();
  }

  &__option:not(.noClass) {
    padding: 8px 12px;
    background: @c-transparent;
    border: 2px solid @c-base;
    border-top: 0 dashed @c-transparent;
    border-bottom: 2px dashed @c-base;
    transition: color @td-fast @ease;

    &:last-child {
      border-bottom: 2px solid @c-base;
    }

    &:hover {
      color: @c-accent;
      cursor: pointer;
    }
  }

  &__option--is-focused:not(.noClass) {
    color: @c-accent;
    outline: 0;
  }

  &__option--is-disabled:not(.noClass) {
    color: @c-disabled;
    pointer-events: none;
  }

  &--grow {
    width: 100%;
  }
}
