@import '../../css/imports.less';

@c: .Select;

@{c} {
  display: inline-flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: flex-end;
  font-family: @ff-sans;
  caret-color: @gradientColors[black-4];

  &__container:not(.noClass) {
    width: 100%;
    max-height: 40px;
    min-width: 150px;
    padding: 0;
    background: @gradientColors[black-5];
    border-radius: 8px;
  }

  &__control:not(.noClass) {
    align-items: flex-start;
    height: 40px;
    width: 100%;
    min-height: unset;
    padding: 0;
    background: @c-transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      cursor: text;
    }
  }

  &__control--menu-is-open:not(.noClass) {
    border-radius: 0;

    &:hover {
      cursor: inherit;
    }
  }

  &__placeholder:not(.noClass) {
    width: 100%;
    padding-right: 20px;
    font-size: @fs-normal;
    font-weight: @fw-semibold;
    text-align: right;
    color: @gradientColors[black-3];
  }

  &__label:not(.noClass) {
    display: flex;
    position: absolute;
    align-items: center;
    height: 5px;
    top: 12px;
    right: 12px;
    padding: 0 7px 0 4px;
    font-size: @fs-small;
    opacity: 1;
    background: @c-transparent;
    transform: translate(-4px, 0) scale(1);
    transition: transform @td-fast @ease, opacity @td-fastest @ease-out;
    will-change: transform;
    pointer-events: none;
  }

  &__control--is-focused:not(.noClass) ~ @{c}__label,
  @{c}__label--active {
    transform: translate(-13px, -17px) scale(0.8);
  }

  &__control--is-focused:not(.noClass) ~ @{c}__label--hideLabel,
  @{c}__label--active@{c}__label--hideLabel {
    opacity: 0;
  }

  &__indicator-separator:not(.noClass) {
    margin: 0;
    background: @c-transparent;
  }

  &__indicators:not(.noClass) {
    &:hover {
      cursor: pointer;
    }
  }

  &__clear-indicator:not(.noClass) {
    padding: 3px;

    svg {
      fill: @c-accentLight;
      transition: fill @td-fast @ease;
    }

    &:hover {
      svg {
        fill: @c-errorAccent;
      }
    }
  }

  &__dropdown-indicator:not(.noClass) {
    padding: 3px 9px 3px 0;

    svg {
      fill: @c-accentLight;
      transition: fill @td-fast @ease;
    }

    &:hover {
      svg {
        fill: @c-base;
      }
    }
  }

  &__value-container:not(.noClass) {
    flex-wrap: nowrap;
    height: 40px;
    margin: 0;
    padding: 0 0 0 6px;
    font-size: @fs-small;
    overflow-x: scroll;
    overflow-y: hidden;

    .hideScrollbar();
  }

  &__single-value {
    font-weight: @fw-bold;
  }

  &__multi-value:not(.noClass) {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 20px;
    min-width: unset;
    padding: 0 2px 0 15px;
    background: @c-background;
    border: 2px solid @gradientColors[blue-1];
    transition: border @td-fast @ease;
    border-radius: 15.5px;

    &:hover {
      border: 2px solid @gradientColors[blue-2];
      cursor: pointer;

      @{c}__multi-value__label:not(.noClass) {
        color: @gradientColors[blue-2];
      }

      @{c}__multi-value__remove:not(.noClass) {
        fill: @gradientColors[blue-2];
      }
    }
  }

  &__multi-value__label:not(.noClass) {
    padding: 0;
    font-family: @ff-sans;
    font-size: @fs-micro;
    font-weight: @fw-bold;
    line-height: @fh-small;
    text-transform: capitalize;
    white-space: nowrap;
    color: @gradientColors[blue-1];
    text-overflow: unset;
    transition: color @td-fast @ease;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__multi-value__remove:not(.noClass) {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    fill: @gradientColors[blue-1];
    transition: fill @td-fast @ease;
    border-radius: 0;

    svg {
      height: 10px;
      width: 10px;
    }

    &:hover:not(.noClass):not(.noClass2) {
      background: @c-transparent;
      fill: @c-errorAccent;
      cursor: pointer;
    }
  }

  &__menu:not(.noClass) {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: @fw-bold;
    overflow: hidden;
    background: @c-background;
    border-radius: 4px;
  }

  &__menu-list:not(.noClass) {
    margin: 0;
    padding: 0;
    border-radius: 0;

    .hideScrollbar();
  }

  &__option:not(.noClass) {
    padding: 6px 12px;
    font-size: @fs-small;
    background: @c-transparent;
    transition: background @td-fast @ease;

    &:hover {
      cursor: pointer;
    }
  }

  &__option--is-focused:not(.noClass):not(.noClass) {
    position: relative;
    color: @c-base;
    background: @c-accentLight-hardest;
  }

  &__option--is-selected:not(.noClass):not(.noClass) {
    display: none;
  }

  &__option--is-disabled:not(.noClass) {
    font-weight: @fw-regular;
    color: @c-base;
    border-radius: 0;
  }

  &--grow {
    width: 100%;
  }

  &--small {
    @{c}__container:not(.noClass) {
      max-height: 30px;
    }

    @{c}__control:not(.noClass) {
      height: 30px;
    }

    @{c}__value-container:not(.noClass) {
      height: 30px;
    }
  }

  &--normal {
    //
  }
}
