@import '../../../css/imports.less';

@c: .EditorToolbar;

@{c} {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid @c-base;

  &-icon {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    box-sizing: border-box;
    fill: @c-traslucid--hardest;
    transition: fill @td-fast @ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      fill: @c-accent;
      cursor: pointer;
    }

    &--active {
      opacity: 1;
      outline: 2px solid @c-accent;
      fill: @c-accent;
      outline-offset: 2px;
      border-radius: 2px;
    }

    &--disabled {
      fill: @c-traslucid;

      &:hover {
        fill: @c-traslucid;
        cursor: no-drop;
      }
    }
  }

  &-bold,
  &-italic {
    padding: 4px;
  }

  &-uppercase {
    padding: 2px;
  }

  &-ul {
    padding: 2px;
  }

  &-link {
    padding: 0;
  }

  &-mathBlock {
    padding: 2px;
  }

  &-h1,
  &-h2 {
    padding: 2px;
  }

  &-centered {
    padding: 2px;
  }

  &-image {
    padding: 2px;
  }

  &-quote {
    padding: 2px;
  }

  &-video {
    padding: 0;
  }
}
