@import '../../css/imports.less';

@c: .Sortable;

@{c} {
  &--disabled {
    pointer-events: none;
  }

  &-handle {
    flex-shrink: 0;
    width: 30px;
    background: turquoise;
    cursor: grab;
  }
}
