@import '../../css/imports.less';

@c: .SortableItem;

@{c} {
  display: flex;
  position: relative;
  transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
    scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));
  transition: transform @td-fast @ease;

  &--active {
    transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
      scaleX(1.01) scaleY(1.01);
    z-index: @z-index-1000;
  }
}
