@import '../../css/imports.less';

@c: .SortBy;

@{c} {
  display: flex;
  position: relative;
  align-items: center;
  height: 30px;
  padding: 5px;
  font-family: @ff-sans;
  line-height: @fs-normal;
  background: @c-background;
  border: 1px solid @c-base;
  border-radius: 3px;

  &-listItem {
    margin-right: 10px;
    font-size: @fs-small;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-listItemLink {
    color: @c-traslucid--hardest;
    transition: color @td-fast @ease-outCubic;

    &:hover {
      cursor: pointer;
    }

    @{c}-listItemIcon {
      fill: @c-traslucid--hardest;
      transition: fill @td-fast @ease-outCubic, transform @td-fast @ease-outCubic !important;
    }
  }

  &-listItem--active {
    @{c}-listItemLink {
      color: @c-base;
    }

    @{c}-listItemIcon {
      fill: @c-base;
    }

    @{c}-listItemIcon--desc {
      transform: scaleY(-1);
    }
  }
}
