@import '../../css/imports.less';

@c: .SortBy;

@{c} {
  position: relative;

  &-list {
    display: flex;
    align-items: center;
  }

  &-listItem {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &-listItemLink {
    color: @c-traslucid--hardest;
    transition: color @td-fast @ease-outCubic;

    &:hover {
      cursor: pointer;
    }

    @{c}-listItemIcon {
      height: 12px;
      width: 12px;
      fill: @c-traslucid--hardest;
      transition: fill @td-fast @ease-outCubic, transform @td-fast @ease-outCubic !important;
    }
  }

  &-listItem--active {
    @{c}-listItemLink {
      color: @c-base;
    }

    @{c}-listItemIcon {
      fill: @c-base;
    }

    @{c}-listItemIcon--desc {
      transform: scaleY(-1);
    }
  }
}
