@import '../../css/imports.less';

@c: .P;

@{c} {
  position: relative;

  &-normal {
    font-size: @fs-normal;
  }

  &-small {
    font-size: @fs-small;
  }

  &-micro {
    font-size: @fs-micro;
  }

  &-nano {
    font-size: @fs-nano;
  }
}
