@import '../../css/imports.less';

@c: .Flex;

@{c} {
  .default();

  &-horizontal,
  &-vertical {
    &--center,
    &--right,
    &--left,
    &--around,
    &--between,
    &--even,
    &--vertical,
    &--top,
    &--bottom {
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      height: 100%;
      width: 100%;
    }

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }

    &--even {
      justify-content: space-evenly;
    }

    &--around {
      justify-content: space-around;
    }

    &--between {
      justify-content: space-between;
    }
  }

  &-vertical {
    &--center {
      align-items: center;
    }

    &--top {
      align-items: flex-start;
    }

    &--bottom {
      align-items: flex-end;
    }
  }
}
