@import '../../css/imports.less';

@c: .DatePicker;

@{c} {
  .default();

  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
  text-align: left;

  .react-datepicker__input-container {
    display: none;
  }

  &-input {
    input {
      color: @c-transparent;
      transition: color @td-normal @ease;
    }

    input[type='text'] {
      padding: 0 0 0 10px;
    }

    input[type='date'] {
      padding: 0 61px 0 10px;
    }

    input:focus {
      color: @c-base;
    }

    input:valid:not(:focus) {
      color: @c-base;
    }
  }

  &-calendar *,
  &-calendar {
    float: unset;
    background: @c-transparent;
    user-select: none;
    border-radius: 0;
  }

  &-calendar {
    background: @c-background;
    border: 2px solid @c-base;

    .react-datepicker__header {
      border-bottom: 2px solid @c-base;
    }

    .react-datepicker__day {
      outline: 0;
      border-radius: 0;
      transition: background @td-fast @ease, color @td-fast @ease;

      &:hover {
        color: @c-base;
        background: @c-traslucid--light;
      }
    }

    .react-datepicker__day--selected {
      background: @c-base;

      &:hover {
        color: @c-base;
        background: @c-traslucid--hard;
      }
    }

    .react-datepicker__day--keyboard-selected {
      color: @c-base;
      background: @c-traslucid--light;
    }

    .react-datepicker__navigation--previous {
      transition: all @td-fast @ease;
      border-right-color: @c-traslucid--light;

      &:hover {
        border-right-color: @c-traslucid;
      }
    }

    .react-datepicker__navigation--next {
      transition: all @td-fast @ease;
      border-left-color: @c-traslucid--light;

      &:hover {
        border-left-color: @c-disabled;
      }
    }
  }

  &--inline {
    height: unset;
    margin-top: 10px;
  }
}
