@import '../../css/imports.less';

@c: .Palette;

@{c} {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  padding: 50px;

  &-hr {
    width: 100%;
    margin: 0 0 18px 0;
    border: none;
  }

  &-item {
    position: relative;
    height: 100px;
    width: 100px;
    margin: 0 18px 18px 0;
    text-transform: uppercase;
    color: white;
    transition: box-shadow 0.15s ease;
    border-radius: 15px;
    box-shadow: 0 0 3px transparent;

    &:hover {
      box-shadow: 0 0 10px @c-black-3;
    }

    &:before {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  }

  &-item--base {
    &:before {
      content: 'base';
    }

    background: @c-base;
  }

  &-item--light {
    &:before {
      content: 'light';
    }

    color: @c-black-1;
    background: @c-light;
  }

  &-item--accent {
    &:before {
      content: 'accent';
    }

    background: @c-accent;
  }

  &-item--success {
    &:before {
      content: 'success';
    }

    color: @c-black-1;
    background: @c-success;
  }

  &-item--alert {
    &:before {
      content: 'alert';
    }

    color: @c-black-1;
    background: @c-alert;
  }

  &-item--error {
    &:before {
      content: 'error';
    }

    background: @c-error;
  }

  &-item--disabled {
    &:before {
      content: 'disabled';
    }

    color: @c-black-1;
    background: @c-disabled;
  }

  &-item--blue-0 {
    &:before {
      content: '@{c-blue}';
    }

    background: @c-blue;
  }

  &-item--blue-1 {
    &:before {
      content: '@{c-blue-1}';
    }

    background: @c-blue-1;
  }

  &-item--blue-2 {
    &:before {
      content: '@{c-blue-2}';
    }

    background: @c-blue-2;
  }

  &-item--blue-3 {
    &:before {
      content: '@{c-blue-3}';
    }

    color: @c-black-1;
    background: @c-blue-3;
  }

  &-item--blue-4 {
    &:before {
      content: '@{c-blue-4}';
    }

    color: @c-black-1;
    background: @c-blue-4;
  }

  &-item--blue-5 {
    &:before {
      content: '@{c-blue-5}';
    }

    color: @c-black-1;
    background: @c-blue-5;
  }

  &-item--green-0 {
    &:before {
      content: '@{c-green}';
    }

    color: @c-black-1;
    background: @c-green;
  }

  &-item--green-1 {
    &:before {
      content: '@{c-green-1}';
    }

    color: @c-black-1;
    background: @c-green-1;
  }

  &-item--green-2 {
    &:before {
      content: '@{c-green-2}';
    }

    color: @c-black-1;
    background: @c-green-2;
  }

  &-item--green-3 {
    &:before {
      content: '@{c-green-3}';
    }

    color: @c-black-1;
    background: @c-green-3;
  }

  &-item--green-4 {
    &:before {
      content: '@{c-green-4}';
    }

    color: @c-black-1;
    background: @c-green-4;
  }

  &-item--green-5 {
    &:before {
      content: '@{c-green-5}';
    }

    color: @c-black-1;
    background: @c-green-5;
  }

  &-item--red-0 {
    &:before {
      content: '@{c-red}';
    }

    background: @c-red;
  }

  &-item--red-1 {
    &:before {
      content: '@{c-red-1}';
    }

    background: @c-red-1;
  }

  &-item--red-2 {
    &:before {
      content: '@{c-red-2}';
    }

    background: @c-red-2;
  }

  &-item--red-3 {
    &:before {
      content: '@{c-red-3}';
    }

    background: @c-red-3;
  }

  &-item--red-4 {
    &:before {
      content: '@{c-red-4}';
    }

    color: @c-black-1;
    background: @c-red-4;
  }

  &-item--red-5 {
    &:before {
      content: '@{c-red-5}';
    }

    color: @c-black-1;
    background: @c-red-5;
  }

  &-item--yellow-0 {
    &:before {
      content: '@{c-yellow}';
    }

    color: @c-black-1;
    background: @c-yellow;
  }

  &-item--yellow-1 {
    &:before {
      content: '@{c-yellow-1}';
    }

    color: @c-black-1;
    background: @c-yellow-1;
  }

  &-item--yellow-2 {
    &:before {
      content: '@{c-yellow-2}';
    }

    color: @c-black-1;
    background: @c-yellow-2;
  }

  &-item--yellow-3 {
    &:before {
      content: '@{c-yellow-3}';
    }

    color: @c-black-1;
    background: @c-yellow-3;
  }

  &-item--yellow-4 {
    &:before {
      content: '@{c-yellow-4}';
    }

    color: @c-black-1;
    background: @c-yellow-4;
  }

  &-item--yellow-5 {
    &:before {
      content: '@{c-yellow-5}';
    }

    color: @c-black-1;
    background: @c-yellow-5;
  }

  &-item--black-0 {
    &:before {
      content: '@{c-black}';
    }

    background: @c-black;
  }

  &-item--black-1 {
    &:before {
      content: '@{c-black-1}';
    }

    background: @c-black-1;
  }

  &-item--black-2 {
    &:before {
      content: '@{c-black-2}';
    }

    background: @c-black-2;
  }

  &-item--black-3 {
    &:before {
      content: '@{c-black-3}';
    }

    background: @c-black-3;
  }

  &-item--black-4 {
    &:before {
      content: '@{c-black-4}';
    }

    color: @c-black-1;
    background: @c-black-4;
  }

  &-item--black-5 {
    &:before {
      content: '@{c-black-5}';
    }

    color: @c-black-1;
    background: @c-black-5;
  }

  &-item--black-transparent-2 {
    &:before {
      content: '@{c-black-2--trans}';
    }

    background: @c-black-2--trans;
  }
}
