@import '../../css/imports.less';

@c: .Checkbox;
@size: @fs-normal;

@{c} {
  .default();

  display: flex;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &-input {
    position: absolute;
    height: @size;
    width: @size;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &:checked + @{c}-helper {
      opacity: 1;
    }
  }

  &-helper {
    display: flex;
    height: @size;
    width: @size;
    padding: 3px 3px 3px 4px;
    opacity: 0;
    background: @c-background;
    transition: opacity @td-fast @ease;
  }

  &-label {
    display: flex;
    align-items: center;
    height: @size;
    top: 0;
    left: 0;
    padding-left: 6px;
    font-size: @fs-normal;
    font-weight: @fw-bold;
    white-space: nowrap;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &:before {
      content: ' ';
      position: absolute;
      height: @size;
      width: @size;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border: 1.5px solid @c-base;
    }
  }
}
