/* stylelint-disable */

/* Devices */
// Iphones
@mobileGeneralVertical: (max-width: 376px);
@mobileIphone6or7or8Vertical: (max-width: 414px) and (max-height: 736px);
@mobileIphone11orXVertical: (max-width: 414px) and (max-height: 896px);
@mobileIphone12ProVertical: (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3);
@mobileIphone12ProMaxVertical: (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3);
// Androids
// ...

/* Media queries breakpoints */
@br-mobile: @mobileGeneralVertical, mobileIphone6or7or8Vertical, @mobileIphone11orXVertical, mobileIphone12ProVertical,
  @mobileIphone12ProMaxVertical;
@br-mobileHorizontal: (max-width: 600px);
@br-tablet: (max-width: 750px);
@br-tabletHorizontal: (max-width: 900px);
@br-desktopSmall: (max-width: 1200px);
@br-desktopMedium: (max-width: 1440px);
@br-desktopLarge: (min-width: 1441px);
