/* stylelint-disable */

/* Media queries breakpoints */
@mobile: ~'(max-width: 600px) ';
@greaterThanMobile: ~'(min-width: 600px) ';
@tablet: ~'(max-width: 900px) ';
@greaterThantablet: ~'(min-width: 900px) ';
@desktop-small: ~'(max-width: 1200px) ';
@desktop-medium: ~'(max-width: 1440px) ';
@desktop-large: ~'(min-width: 1441px) ';
@desktop-short: ~ '(max-height: 620px) ';