@c-blue--1: #3c80f1;
@c-blue--2: #72a4f6;
@c-blue--3: #97c1ff;
@c-blue--4: #c7ddff;
@c-blue--5: #d4e4fc;
@c-green--1: #2fe87d;
@c-green--2: #3cec86;
@c-green--3: #7bf4ae;
@c-green--4: #b6f7d2;
@c-green--5: #c8f6db;
@c-red--1: #ff3e33;
@c-red--2: #ff625d;
@c-red--3: #fc8f8b;
@c-red--4: #ffb8b8;
@c-red--5: #ffd9d7;
@c-yellow--1: #ffd354;
@c-yellow--2: #ffe393;
@c-yellow--3: #ffebb2;
@c-yellow--4: #fff5d8;
@c-yellow--5: #fefaee;
@c-yellow--6: #fffff9;
@c-black--1: #272727;
@c-black--2: #4c4c4c;
@c-black--3: #999999;
@c-black--4: #dedede;
@c-black--5: #f8f8f8;
@c-black--6: #fcfcfc;
@c-black--2--trans: #4c4c4c80;
@c-black--5--trans: #f8f8f880;
