/* stylelint-disable */

/* Durations */
@td-fastest: 0.08s;
@td-fast: 0.15s;
@td-normal: 0.3s;
@td-normalSlow: 0.4s;
@td-slow: 0.7s;
@td-test: 1s;
@td-one: 1s;
@td-oneHalf: 1.5s;
@td-sluggish: 2s;
@td-testLong: 3s;
@td-testSluggish: 10s;
@td-infinite: 3600s;

/* Easings */
@ease: ease;
@ease-in: ease-in;
@ease-out: ease-out;
@easeInOutA: cubic-bezier(0.995, 0, 0, 1.01);
@ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
@ease-custom: cubic-bezier(0.89, 0, 0.68, 0.47);
@ease-outCubic: cubic-bezier(0.22, 0.61, 0.36, 1);
@ease-outCustom1: cubic-bezier(0.42, 0, 0.13, 0.71);

/* Z-index */
@z-index--1: -1;
@z-index-0: 0;
@z-index-1: 1;
@z-index-2: 2;
@z-index-3: 3;
@z-index-4: 4;
@z-index-5: 5;
@z-index-1000: 1000;

/* SVG sizes */

// Font size
@svgSize-huge: 36px;
@svgSize-biggest: 34px;
@svgSize-big: 28px;
@svgSize-medium: 20px;
@svgSize-normal: 16px;
@svgSize-small: 12px;
@svgSize-micro: 10px;
@svgSize-nano: 8px;

// Keyframes
@keyframes hearthBeat {
  0% {
    transform: scale(1);
  }

  5% {
    transform: scale(1.05);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
