#styles() {
  .colors() {
    base: @c-black--1;
    light: @c-yellow--6;
    accent: @c-black--2;
    success: @c-green--3;
    alert: @c-yellow--2;
    error: @c-red--2;
    disabled: @c-black--4;
  }
}
