/* stylelint-disable */

/* Typography */
// Font family
@ff-sans: 'Arial', 'Helvetica', sans-serif;
@ff-serif: 'Times New Roman', 'Times', serif;

// Font size
@fs-huge: 36px;
@fs-biggest: 30px;
@fs-big: 24px;
@fs-medium: 20px;
@fs-normal: 16px;
@fs-small: 12px;
@fs-micro: 10px;
@fs-nano: 8px;

// Font weight
@fw-extraThin: 100;
@fw-thin: 200;
@fw-light: 300;
@fw-regular: 400;
@fw-medium: 500;
@fw-semibold: 600;
@fw-bold: 700;
@fw-extraBold: 800;
@fw-black: 900;

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);

  font-size: ~'@{pxValue}px';
  font-size: ~'@{remValue}rem';
}
