/* Utils */

.whiteBars {
  background: -webkit-linear-gradient(-45deg, transparent 49%, white 50%, transparent 51%) repeat;
  background: linear-gradient(-45deg, transparent 49%, white 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.blackBars {
  background: -webkit-linear-gradient(-45deg, transparent 49%, black 50%, transparent 51%) repeat;
  background: linear-gradient(-45deg, transparent 49%, black 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.grayBars {
  background: -webkit-linear-gradient(-45deg, transparent 49%, lightgray 50%, transparent 51%) repeat;
  background: linear-gradient(-45deg, transparent 49%, lightgray 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.blueBars {
  background: -webkit-linear-gradient(-45deg, transparent 49%, blue 50%, transparent 51%) repeat;
  background: linear-gradient(-45deg, transparent 49%, blue 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.tomatoBars {
  background: -webkit-linear-gradient(45deg, transparent 49%, tomato 50%, transparent 51%) repeat;
  background: linear-gradient(45deg, transparent 49%, tomato 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.goldBars {
  background: -webkit-linear-gradient(45deg, transparent 49%, gold 50%, transparent 51%) repeat;
  background: linear-gradient(45deg, transparent 49%, gold 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.pinkBars {
  background: -webkit-linear-gradient(45deg, transparent 49%, pink 50%, transparent 51%) repeat;
  background: linear-gradient(45deg, transparent 49%, pink 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.turqBars {
  background: -webkit-linear-gradient(45deg, transparent 49%, turquoise 50%, transparent 51%) repeat;
  background: linear-gradient(45deg, transparent 49%, turquoise 50%, transparent 51%) repeat;
  background-size: 5px 5px;
}

.goldBack {
  opacity: 0.7;
  background: gold;
}

.pinkBack {
  opacity: 0.7;
  background: pink;
}

.turqBack {
  opacity: 0.7;
  background: turquoise;
}

.tomatoBack {
  opacity: 0.7;
  background-color: tomato;
}

.blueBack {
  opacity: 0.7;
  background-color: blue;
}

.grayBack {
  opacity: 0.7;
  background-color: lightgray;
}
