/* Utils */
@import './colors.less';

.whiteBars {
  background: -webkit-linear-gradient(-45deg, @c-transparent 49%, white 50%, @c-transparent 51%) repeat;
  background: linear-gradient(-45deg, @c-transparent 49%, white 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.blackBars {
  background: -webkit-linear-gradient(-45deg, @c-transparent 49%, @c-base 50%, @c-transparent 51%) repeat;
  background: linear-gradient(-45deg, @c-transparent 49%, @c-base 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.grayBars {
  background: -webkit-linear-gradient(-45deg, @c-transparent 49%, @c-traslucid 50%, @c-transparent 51%) repeat;
  background: linear-gradient(-45deg, @c-transparent 49%, @c-traslucid 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.alertBars {
  background: -webkit-linear-gradient(45deg, @c-transparent 49%, @c-alert 50%, @c-transparent 51%) repeat;
  background: linear-gradient(45deg, @c-transparent 49%, @c-alert 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.errorBars {
  background: -webkit-linear-gradient(45deg, @c-transparent 49%, @c-error 50%, @c-transparent 51%) repeat;
  background: linear-gradient(45deg, @c-transparent 49%, @c-error 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.accentBars {
  background: -webkit-linear-gradient(-45deg, @c-transparent 49%, @c-accent 50%, @c-transparent 51%) repeat;
  background: linear-gradient(-45deg, @c-transparent 49%, @c-accent 50%, @c-transparent 51%) repeat;
  background-size: 5px 5px;
}

.goldBack {
  opacity: 0.7;
  background: @c-alert;
}

.errorBack {
  opacity: 0.7;
  background-color: @c-error;
}

.accentBack {
  opacity: 0.7;
  background-color: @c-accent;
}

.grayBack {
  opacity: 0.7;
  background-color: @c-traslucid;
}
