@import '../../css/imports.less';

@totalAnim: 3s;
@squareLen: 100;
@calculatedSquareLen: (@squareLen * 113) / 100;
@stroke-width: 2px;
@strokes: 1;

@c: .SpinnerSquaredSmooth;

@{c} {
  .default();

  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  &:before {
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @c-traslucid;
  }

  &-square {
    position: relative;
    height: unit(@calculatedSquareLen, px);
    width: unit(@calculatedSquareLen, px);
  }

  &-svg {
    height: 100%;
    width: 100%;
  }

  &-pathStatic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    stroke-width: @stroke-width;
    stroke: @c-base;
  }

  &-pathAnimated {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    stroke-width: @stroke-width;
    stroke: @c-background;
    stroke-dasharray: @calculatedSquareLen / @strokes;
    animation: square-anim @totalAnim ease infinite;
  }

  @keyframes square-anim {
    0% {
      stroke-dashoffset: -@calculatedSquareLen;
    }

    50% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: @calculatedSquareLen;
    }
  }
}
