@import '../../css/imports.less';

@c: .SpinnerSquaredSmooth;

@{c} {
  height: 100%;
  width: 100%;

  &-line {
    height: 100%;
    width: 100%;
    fill: none;
    stroke: @c-base;
    animation: dash 2s ease-in-out infinite;
    stroke-width: 6px;
    stroke-dasharray: 1;
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1;
    }

    50% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -1;
    }
  }

  &-medium {
    position: relative;
    height: 200px;
    width: 200px;
  }

  &-small {
    position: relative;
    height: 100px;
    width: 100px;
  }

  &-nano {
    position: relative;
    height: 50px;
    width: 50px;
  }

  &-fast {
    @{c}-line {
      animation-duration: 1s;
    }
  }

  &-normal {
    @{c}-line {
      animation-duration: 3s;
    }
  }

  &-slow {
    @{c}-line {
      animation-duration: 10s;
    }
  }
}
