@import '../../css/imports.less';

@c: .SkeletonItem;

@{c} {
  display: inline-block;
  height: @fs-normal;
  min-height: 10px;
  min-width: 20px;
  background: @c-base;
  animation: skeletonItemAnimation 1s ease infinite;
  border-radius: 2px;

  @keyframes skeletonItemAnimation {
    0% {
      background-color: @c-base;
    }

    15% {
      background-color: @c-accent;
    }

    100% {
      background-color: @c-base;
    }
  }
}
