@import '../../css/imports.less';

@c: .Ellipsis;

@{c} {
  &-dot1 {
    opacity: 0;
    animation: animationDot1 @td-oneHalf ease infinite;
  }

  &-dot2 {
    opacity: 0;
    animation: animationDot2 @td-oneHalf ease infinite;
  }

  &-dot3 {
    opacity: 0;
    animation: animationDot3 @td-oneHalf ease infinite;
  }
}

@keyframes animationDot1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animationDot2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animationDot3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
