@import '../../css/imports.less';

@c: .Tooltip;

@{c} {
  max-width: 300px;
  padding: 10px 15px;
  opacity: 0;
  background: @c-background;
  outline: 2px solid @c-traslucid--light;
  transition: opacity @td-fast @ease;
  pointer-events: none;
  border-radius: 4px;

  .boxShadow;

  &-text {
    font-weight: @fw-semibold;
  }

  &[data-show] {
    opacity: 1;
  }

  &-arrow:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background: @c-background;
    transform: rotate(45deg);
    box-shadow: -2px -2px 0 0 @c-traslucid--light;
  }

  &[data-popper-placement^='top'] > @{c}-arrow {
    bottom: 5px;

    &:before {
      background: @c-background;
      box-shadow: 2px 2px 0 0 @c-traslucid--light;
    }
  }

  &[data-popper-placement^='bottom'] > @{c}-arrow {
    top: -5px;

    &:before {
      background: @c-background;
      box-shadow: -2px -2px 0 0 @c-traslucid--light;
    }
  }

  &[data-popper-placement^='left'] > @{c}-arrow {
    right: 5px;

    &:before {
      top: -4px;
      background: @c-background;
      box-shadow: 2px -2px 0 0 @c-traslucid--light;
    }
  }

  &[data-popper-placement^='right'] > @{c}-arrow {
    left: -5px;

    &:before {
      top: -3px;
      background: @c-background;
      box-shadow: -2px 2px 0 0 @c-traslucid--light;
    }
  }
}
