@import '../../css/imports.less';

@c: .Border;

@{c} {
  display: inline-block;
  background: @c-background;
  border-color: @c-base;
  transition: box-shadow @td-fast @ease-custom, border @td-fast @ease-custom, color @td-fast @ease-custom;

  &-padding--small {
    padding: 10px;
  }

  &-padding--normal {
    padding: 20px;
  }

  &-padding--big {
    padding: 40px;
  }

  &--grow {
    width: 100%;
  }

  &--thin {
    border: 2px solid @c-base;
    box-shadow: 4px 4px 0 0 @c-base;
    border-radius: 4px;
  }

  &--thick {
    border: 3px solid @c-base;
    box-shadow: 6px 6px 0 0 @c-base;
    border-radius: 4px;
  }
}
