@import '../../css/imports.less';

@c: .Fade;

@{c} {
  .default();

  max-height: 100%;
  max-width: 100%;

  &-transition {
    height: 100%;
    width: 100%;
    opacity: 0;
    will-change: opacity, transform;
  }

  &--fastest {
    transition: opacity @td-fastest, transform @td-fastest;
  }

  &--fast {
    transition: opacity @td-fast, transform @td-fast;
  }

  &--normal {
    transition: opacity @td-normal, transform @td-normal;
  }

  &--slow {
    transition: opacity @td-slow, transform @td-slow;
  }

  &--up {
    transform: translateY(40px);
  }

  &--down {
    transform: translateY(-40px);
  }

  &--left {
    transform: translateX(-40px);
  }

  &--right {
    transform: translateX(40px);
  }

  &--fixed,
  &--absolute {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }

  &-appear,
  &-enter,
  &-exit,
  &-exit-active,
  &-exit-done {
    opacity: 0;
  }

  &-appear-active,
  &-enter-active,
  &-enter-done {
    opacity: 1;
    transform: translate(0);
  }
}
