@import '../../css/imports.less';

@c: .TextEditor;

@{c} {
  width: 100%;
  padding: 20px;
  font-family: @ff-sans;
  border: 2px dashed;
  border-radius: 8px;

  &-textBox {
    padding: 30px 0 50px;
  }

  h1 {
    margin-bottom: 20px;
    font-size: @fs-medium;
  }

  h2 {
    margin-bottom: 10px;
    font-size: @fs-normal;
  }

  a {
    font-weight: @fw-bold;
    text-decoration: underline;
    color: @c-blue--pastel;
    transition: text-decoration-color @td-fast @ease;
    cursor: pointer;
    text-decoration-color: @c-transparent;
    text-decoration-thickness: 2px;

    &:hover {
      text-decoration-color: @c-blue--light;
    }
  }

  p {
    margin-bottom: 10px;
    line-height: @fh-normal;
  }

  // Set margin only for ul elements that are not children of another ul
  :not(ul) > ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 5px;

    li {
      list-style-position: inside;
      margin-top: 5px;
      padding-left: 1.4em;
      text-indent: -1em;
    }

    ul:not(.noClass) {
      list-style-type: circle;
      margin-left: 15px;
    }

    ul:not(.noClass) ul:not(.noClass) {
      list-style-type: square;
    }
  }

  img {
    width: 100%;
    margin: 20px 0;
    object-fit: cover;
    object-position: center;
    transition: opacity @td-normal @ease;
    box-shadow: 0 0 10px 5px @c-traslucid--light;
    border-radius: 4px;
  }

  figcaption {
    font-family: @ff-sans;
    font-size: @fs-small;
    font-weight: @fw-bold;
    line-height: @fh-small;

    mark {
      font-size: @fs-small;
    }
  }

  label {
    display: block;
    margin-bottom: 20px;
    font-size: @fs-small;
    font-weight: @fw-semibold;
    text-align: center;
    user-select: none;
  }

  mark {
    padding: 4px 6px;
    font-family: @ff-code;
    font-size: 14px;
    font-weight: @fw-bold;
    color: @c-accent;
    background: @c-traslucid--light;
    border-radius: 4px;
  }

  pre {
    margin: 20px 0 10px;
    padding: 30px;
    font-family: @ff-code;
    font-size: @fs-small;
    white-space: pre;
    border-radius: 4px;

    code {
      white-space: pre;
    }
  }

  blockquote {
    margin: 10px 0;
    padding-left: 10px;
    color: @c-accent;
    border-left: 2px solid @c-accent;
    font-style: italic;
  }

  .centered {
    text-align: center;
  }

  .uppercase {
    text-transform: uppercase;
  }
}
